{% extends 'base.html' %}
{% block title %}
  Upload your file
{% endblock %}
{% block content %}
  <main role="main">
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-3 green">¡Complete!</h1>
        <p>We have imported your contact list, but next contacts were duplicated and not imported.</p>
        {{ duplicates_index_list }}
      </div>
    </div>
  </main>
  <script>
    $(document).ready(function(){
      new DataTable('#contacts_table table');
    });
  </script>
{% endblock %}
