{% extends 'base.html' %}
{% block title %}
  Upload your file
{% endblock %}
{% block content %}
  <main role="main">
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-3">¡WELCOME!</h1>
        <p>Upload an Excel file with the following format: full_name, primary_number, secondary_number</p>
        <div class="form-inline">
          <form action="{% url 'upload' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <table>{{ form }}</table>
            <input type="submit" value="Submit" class="btn btn-primary btn-lg" />
          </form>
        </div>
        {% if form.non_field_errors %}
          <h3>Upload failed</h3>
          <div class="alert alert-danger">{{ form.non_field_errors }}</div>
          <div id="fails_table">
              {{ clean_table }}
          </div>
        {% endif %}
      </div>
    </div>
  </main>
<script>
  $(document).ready(function(){
    new DataTable('#fails_table table');
  });
</script>
{% endblock %}
